<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cb_axiento_det.name %>
</p>

<p>
  <strong>Proyecto:</strong>
  <%= @cb_axiento_det.proyecto_id %>
</p>

<%= link_to 'Edit', edit_cb_axiento_det_path(@cb_axiento_det) %> |
<%= link_to 'Back', cb_axiento_dets_path %>
