<%= form_for(@cb_proyecto) do |f| %>
  <% if @cb_proyecto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cb_proyecto.errors.count, "error") %> prohibited this cb_proyecto from being saved:</h2>

      <ul>
      <% @cb_proyecto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
