<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @cb_axiento.nombre %>
</p>

<p>
  <strong>Proyecto:</strong>
  <%= @cb_axiento.proyecto_id %>
</p>

<%= link_to 'Edit', edit_cb_axiento_path(@cb_axiento) %> |
<%= link_to 'Back', cb_axientos_path %>
